.main{ /*width: 100%;*/ height: 100%; background: url(../images/asyn/login_bg.png) 50% top no-repeat; background-size: cover; max-width: 500px; margin: 0 auto;}
/*.main > img{ width: 100%; height: 100%; }*/
.login{ padding: 45% 0 0 0; width: 256px; margin: 0 auto;}
.main form img{ width: 100%; vertical-align: middle;}
.main form span{ display: inline-block; width: 32px; line-height: 32px; text-align: center; margin-right: 2px;}
.main form i{ display: inline-block; width: 18px;}
.main form input,.main form span{background-color: rgba(255,255,255, 0.3); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4Cffffff, endColorstr=#4Cffffff);}
.main form input{ width: 210px; border: none; padding: 0 0 0 8px; height: 32px; vertical-align: top; outline: none; color: #fff; border-radius: 0;}
.main form .account{ margin-bottom: 15px; }
.main form .password{ margin-bottom: 20px; }
.login p{ line-height: 44px; padding: 0 30px;}
.main p a{ color: #e8e8e8; text-decoration: underline; font-size: 14px;}

/*mask*/
.mask{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7); display: none; z-index: 9999;}
.mask .popup{ display: none; position: relative; top: 50%; left: 50%; width: 260px; height: 300px; margin-top: -150px; margin-left: -130px;}
.mask a{position: absolute; top: -30px; right: 0; width: 26px; height: 26px;}
.mask a img{ width: 100%; }
.mask .submit{ background: rgba(204,204,204,0.9); height: 60px; text-align: center; line-height: 60px;border-radius: 0 0 8px 8px; -webkit-border-radius: 0 0 8px 8px; -moz-border-radius: 0 0 8px 8px;}
.mask .submit button{ width: 100px; height: 30px; background: #fff; border: 1px solid #797d86;}
.mask form{ height: 240px; text-align: center; padding: 0 15px 0 5px;background: #fff;border-radius: 8px 8px 0 0; -webkit-border-radius: 8px 8px 0 0; -moz-border-radius: 8px 8px 0 0;}
.mask form span{font-size: 14px; display: inline-block; width: 85px; text-align: right; height: 32px; line-height: 32px;}
.mask form input{ width: 140px; padding: 0 0 0 4px; border-top: none; border-left: none; border-right: none;border-color: #9b9b9b; border-width: 1px; height: 31px; outline: none; }
.mask form p{ margin-bottom: 15px; }
.mask form p.title{margin-bottom: 0; line-height: 48px; color: #000;}