body{ background: #e1e1e1;}
.main{max-width: 500px; height: 100%; margin: 0 auto;}
.field{position: fixed; top: 0; left: 0; z-index: 99;}
img{ width: 100%; }
ul{width: 100%; height: 56px; border-bottom: 1px solid #a6a6a8;}
li{float: left; width: 18%; height: 56px; line-height: 56px; font-size: 14px; text-align: center; }
li.name{ width: 28%; color: #000;}
li.code{padding-left: 12px; box-sizing: border-box;}
li.discount{padding-right: 12px; box-sizing: border-box;}
li.price{color: #ff5217;}
li.status{color: #17649c; padding-right: 15px; box-sizing: border-box;}

.bottom{ width: 100%; position: fixed; left: 0; bottom: 0;z-index: 99; }
.bottom p{text-align: center; margin: 10px 0;}
.bottom a{display: inline-block; width: 150px;}